@font-face {
    font-family: 'Proxima Soft';
    src: local('Proxima Soft Bold'), local('Proxima-Soft-Bold'),
        url('ProximaSoft-Bold.woff2') format('woff2'),
        url('ProximaSoft-Bold.woff') format('woff'),
        url('ProximaSoft-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }